* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-align: center;
}
body {
  display: flex;
  /* flex: 1; */
  min-height: 100vh;
  align-items: center;
}
.clock {
  height: 30rem;
  width: 30rem;
  border: 20px solid rgb(255, 217, 0);
  border-radius: 50%;
  margin: 0px auto;
  padding: 1rem;
}
.clock_body {
  position: relative;
  height: 100%;
  width: 100%;
}
.hand {
  width: 50%;
  height: 6px;
  background: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: 0.01s;
  transition-timing-function: cubic-bezier(0.23, 2.97, 1, 1);
}
.second{
  height: 3px;
}
.hour{
  height: 10px;
}
.center{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #000;
}